		body{
			font-family: 'corbel'; 
			font-size: 20px;
			margin: 0;
		}
		#logo a{
			font-family:'corbel'; 
			font-size:36px;
			text-decoration: none;
		}
		header{
			max-width:960px;
			margin:20px auto 10px;
			float:none;
			clear:both;
		}
		nav{
			font-family:'corbel'; 
			font-size:20px; 
		}
		nav li a{
			text-decoration: none;
			padding: 0 10px;
		} 
		nav li{
			list-style: none;
			display: inline-block;

		}
		nav ul{
			padding:0;
			text-align: right;
			border-bottom: 1px solid #000;
			margin-top: 0px;
		}
		#content .page-title {
			font-family:'arial black', Helvetica, Verdana,sans-serif; 
			font-weight: 700;
			font-size:60px;
			border-bottom: 2px solid #000;
			box-shadow: 0 5px 0 #eee;
			text-shadow: 0 5px 0 #eee;
		}
		#content {
			margin: 0 auto;
			max-width: 960px;
		}
		figure {
			margin: 40px 40px 40px 0;
			width: 300px;
			height: 300px;
			overflow: hidden;
			float:left;
		}
		figure img {
			height: 300px;
			margin: auto 0px 0px -100px;
		}
		#education{
			margin: 40px 0 12px;
			max-width: 620px;
			width: 960px;
			float: right;
		}
		#experience{
			margin: 12px 0 24px;
			max-width: 620px;
			width: 960px;
			float: right;
		}
		.title{
			font-family: 'arial black', Helvetica, Verdana,sans-serif;
			font-size: 25px;
			background: #000;
			color: #fff;
			display: inline;
			padding: 0 6px;
		}
		.title:after{
			content:" ";
			width: 0px;
			height: 0px;
			position: absolute;
			border-left: 30px solid #000;
			border-bottom: 36px solid #fff;
		}
		#information{
			border-bottom: 1px solid #000;
			display: table; 
		}
		#abilities{
			clear: both;
			border-bottom: 1px solid #000;
		}
		#skills, #competences{
			display: inline-block;
			width: 49%;
			margin: 40px 0 24px 0;	
			vertical-align: top;
		}
		#instagram .title + .photo a{
			display: inline-block;
			width: 24%;
			margin: 0 1% 0 0;
		}
		#instagram .title + .photo a img{
			width: 100%;
		}
		#instagram{
			margin: 40px 0 40px 0;
		}
		#instagram .photo {
			margin: 20px 0;
		}
		footer .container{
			max-width: 960px;
			margin: auto;
			color: #fff;
		}

		footer{   
			background: #000;
			padding: 40px;	
		}

		.container>div{
			width: 33%;
			display: inline-block;
			vertical-align: top;
		}
		footer .title + div{
			margin: 16px 0 40px;
		}
		.social i{
			font-size: 40px;
			margin-right: 10px;
		}
		.resume .title + div a img{
			border-radius: 50px;
			width: 70%;
		}
		a {
			color: #000;
		}
		footer a {
			color: #fff;
		}
		header nav ul li a {
			padding-bottom: 12px;
		}
		header nav ul {
			padding-bottom: 12px;
		}
		.active {
			border-bottom: 1px solid #eee;
		}
    header nav ul li a:hover {
    	border-bottom: 1px solid #eee;
    }
    footer nav {
    	border-top: 1px solid #fff;
    	position: relative;
    }
		.active {
			border-bottom: 1px solid #eee;
		}
    footer nav ul li a:hover {
    	border-bottom: 1px solid #eee;
    }
    footer nav ul {
    	text-align: left;
    	margin-top: 20px;
    }
    header nav ul li:last-of-type a {
    	padding-right: 0;
    }
    footer .title {
    	padding-left: 0;
    }
    footer nav ul li:first-of-type a {
    	padding-left: 0;
    }
    footer nav div {
    	position: absolute;
    	top: 18px;
    	right: 0;
    }
    footer .title:after{
			border: 0;
		}
    span.small {
    	font-size: 18px;
      	font-weight: 900;
    }

    #column {
			margin: 40px 0 12px;
			max-width: 620px;
			width: 960px;
			float: right;
    }
    #column blockquote {
    	background: #eee;
    	padding: 16px;
    	margin-right: 0;
    	font-style: italic;
    }
    #column blockquote span {
   		display: block;
   		text-align: right;
   		font-weight: 600;
   	}
   	.clear {
   		float:none;
   		clear: both;
   		display: table; 
   	}
   	#information #map iframe {
   		width: 100%;
   	}
   	#information #map {
   		margin-top: 0;
   	}
    #column p a {
    	text-decoration: none;
    	border-bottom: 1px dashed #eee;
    }
    #column p:first-of-type a {
    	font-weight: 900;
    }
    .aboutme #information article figure img {
    	width: 100%;
    	margin: -40px 0;
    	height: auto;
    }
    .contact #information article figure img {
    	width: auto;
    	margin: 0;
    	height: 100%;
    }

    @media screen and (max-width: 1000px) {
      header, #content {
      	padding: 0 20px;
      }
			#information {
				display: block;
			}
      #education, #experience, .aboutme #column, .contact #column {
      	margin: 40px 0 12px 340px;
      	max-width: 100%;
      	width: auto;
      	float: none;
      }
      figure{
      	margin: 0 40px 40px 0; 
      }
      footer .container > div {
      	width: 49%;
      }
    }
    @media screen and (max-width: 560px) {
      #education, #experience, .aboutme #column, .contact #column {
      	margin: 0;
      	max-width: 100%;
      	width: auto;
      	float: none;
      }
      figure{
      	margin: 40px 0;
      	float: none;
      }
      footer .container>div{
      	width: 100%;
      }
      footer nav div{
				position: static;
				text-align: right;
      }
    }
    @media screen and (max-width: 435px) {
    	#education{
				max-width: auto;
				width: auto;
				float: none;
			}
			#experience {
				max-width: auto;
				width: auto;
				float: none;
			}
			#information {
				display: block;
				padding: 0 20px;
			}
			header {
				text-align: center;
				margin-bottom: 0;
			}
			nav ul {
				text-align: center;
				margin-bottom: 0;
			}
			.page-title {
				text-align: center;
			}
			#information figure {
				margin-left: auto;
				margin-right: auto;
				width: 100%;
			}
			#abilities {
				padding: 0 20px;
			}
			#skills, #competences {
				width: 100%;
				display: block;
			}
			#instagram {
				padding: 0 20px;
			}
			#instagram .title + .photo a {
				display: block;
				width: 100%;
			}
			.container>div {
				width: 100%
			}
			footer nav div {
				position: static;
				text-align: center;
			}

			footer {
				padding: 40px 0;
				text-align: center;
			}
			footer nav ul {
				text-align: center;
			}
			.aboutme #information figure, .contact #information figure {
				margin-top: 40px;
				margin-bottom: 0;
				width: 100%;
			}
			#column {
				width: 100%;
				margin-top: 0;
			}
    }

